<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Desc</key>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id cursus erat. Praesent in lorem ullamcorper, rhoncus nulla eget, malesuada est. Morbi nec egestas augue, id rutrum turpis. Donec augue nunc, laoreet a turpis sit amet, auctor auctor metus. Nunc in accumsan purus.</string>
		<key>Lat</key>
		<string>43.847433</string>
		<key>Lon</key>
		<string>10.507196</string>
		<key>Name</key>
		<string>Piazza S.Maria</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Desc</key>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id cursus erat. Praesent in lorem ullamcorper, rhoncus nulla eget, malesuada est. Morbi nec egestas augue, id rutrum turpis. Donec augue nunc, laoreet a turpis sit amet, auctor auctor metus. Nunc in accumsan purus.</string>
		<key>Lat</key>
		<string>43.847451</string>
		<key>Lon</key>
		<string>10.506813</string>
		<key>Name</key>
		<string>Via della Cavallerizza</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>Desc</key>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id cursus erat. Praesent in lorem ullamcorper, rhoncus nulla eget, malesuada est. Morbi nec egestas augue, id rutrum turpis. Donec augue nunc, laoreet a turpis sit amet, auctor auctor metus. Nunc in accumsan purus.</string>
		<key>Lat</key>
		<string>43.839432</string>
		<key>Lon</key>
		<string>10.502299</string>
		<key>Name</key>
		<string>Via F.Carrara</string>
		<key>id</key>
		<string>3</string>
	</dict>
	<dict>
		<key>Desc</key>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id cursus erat. Praesent in lorem ullamcorper, rhoncus nulla eget, malesuada est. Morbi nec egestas augue, id rutrum turpis. Donec augue nunc, laoreet a turpis sit amet, auctor auctor metus. Nunc in accumsan purus.</string>
		<key>Lat</key>
		<string>43.842518</string>
		<key>Lon</key>
		<string>10.509391</string>
		<key>Name</key>
		<string>Via S.Nicolao</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>Desc</key>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id cursus erat. Praesent in lorem ullamcorper, rhoncus nulla eget, malesuada est. Morbi nec egestas augue, id rutrum turpis. Donec augue nunc, laoreet a turpis sit amet, auctor auctor metus. Nunc in accumsan purus.</string>
		<key>Lat</key>
		<string>43.840020</string>
		<key>Lon</key>
		<string>10.502337</string>
		<key>Name</key>
		<string>Corso Garibaldi</string>
		<key>id</key>
		<string>5</string>
	</dict>
</array>
</plist>
