<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Desc</key>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id cursus erat. Praesent in lorem ullamcorper, rhoncus nulla eget, malesuada est. Morbi nec egestas augue, id rutrum turpis. Donec augue nunc, laoreet a turpis sit amet, auctor auctor metus. Nunc in accumsan purus.</string>
		<key>Lat</key>
		<string>43.847747</string>
		<key>Lon</key>
		<string>10.494894</string>
		<key>Name</key>
		<string>Palatucci</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Desc</key>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id cursus erat. Praesent in lorem ullamcorper, rhoncus nulla eget, malesuada est. Morbi nec egestas augue, id rutrum turpis. Donec augue nunc, laoreet a turpis sit amet, auctor auctor metus. Nunc in accumsan purus.</string>
		<key>Lat</key>
		<string>43.849451</string>
		<key>Lon</key>
		<string>10.519266</string>
		<key>Name</key>
		<string>Campo di Marte</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>Desc</key>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id cursus erat. Praesent in lorem ullamcorper, rhoncus nulla eget, malesuada est. Morbi nec egestas augue, id rutrum turpis. Donec augue nunc, laoreet a turpis sit amet, auctor auctor metus. Nunc in accumsan purus.</string>
		<key>Lat</key>
		<string>43.837830</string>
		<key>Lon</key>
		<string>10.506794</string>
		<key>Name</key>
		<string>Stazione</string>
		<key>id</key>
		<string>3</string>
	</dict>
	<dict>
		<key>Desc</key>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id cursus erat. Praesent in lorem ullamcorper, rhoncus nulla eget, malesuada est. Morbi nec egestas augue, id rutrum turpis. Donec augue nunc, laoreet a turpis sit amet, auctor auctor metus. Nunc in accumsan purus.</string>
		<key>Lat</key>
		<string>43.838901</string>
		<key>Lon</key>
		<string>10.497377</string>
		<key>Name</key>
		<string>Carducci</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>Desc</key>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id cursus erat. Praesent in lorem ullamcorper, rhoncus nulla eget, malesuada est. Morbi nec egestas augue, id rutrum turpis. Donec augue nunc, laoreet a turpis sit amet, auctor auctor metus. Nunc in accumsan purus.</string>
		<key>Lat</key>
		<string>43.840656</string>
		<key>Lon</key>
		<string>10.498168</string>
		<key>Name</key>
		<string>Cittadella</string>
		<key>id</key>
		<string>5</string>
	</dict>
	<dict>
		<key>Desc</key>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id cursus erat. Praesent in lorem ullamcorper, rhoncus nulla eget, malesuada est. Morbi nec egestas augue, id rutrum turpis. Donec augue nunc, laoreet a turpis sit amet, auctor auctor metus. Nunc in accumsan purus.</string>
		<key>Lat</key>
		<string>43.841988</string>
		<key>Lon</key>
		<string>10.496427</string>
		<key>Name</key>
		<string>Piazzale Verdi</string>
		<key>id</key>
		<string>6</string>
	</dict>
	<dict>
		<key>Desc</key>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id cursus erat. Praesent in lorem ullamcorper, rhoncus nulla eget, malesuada est. Morbi nec egestas augue, id rutrum turpis. Donec augue nunc, laoreet a turpis sit amet, auctor auctor metus. Nunc in accumsan purus.</string>
		<key>Lat</key>
		<string>43.846184</string>
		<key>Lon</key>
		<string>10.513750</string>
		<key>Name</key>
		<string>Mazzini</string>
		<key>id</key>
		<string>7</string>
	</dict>
</array>
</plist>
